{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="kitchen-annotation">
    <div class="kitchen-card-header-mobile">
        <div class="kitchen-card-back">
            <a href="/catalog/">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.52434 9.16658H16.6673V10.8332H6.52434L10.9943 15.3032L9.81582 16.4817L3.33398 9.99992L9.81582 3.51807L10.9943 4.69657L6.52434 9.16658Z"
                        fill="#787878" />
                </svg>
                <button>
                    Назад
                </button>

            </a>
        </div>
        <div class="kitchen-card-name">
            <h1>Кухни Stosa {{ kitchen.name }}</h1>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-xl-6 order-xl-first col-12 order-last ps-0 kitchen-annotation-left">
            <div>
                <div class="kitchen-card-header-desc">
                    <div class="kitchen-card-back">
                        <a href="/catalog/">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.52434 9.16658H16.6673V10.8332H6.52434L10.9943 15.3032L9.81582 16.4817L3.33398 9.99992L9.81582 3.51807L10.9943 4.69657L6.52434 9.16658Z"
                                    fill="#787878" />
                            </svg>
                            <button>
                                Назад
                            </button>
                        </a>
                    </div>
                    <div class="kitchen-card-name">
                        <h1>Кухни Stosa {{ kitchen.name }}</h1>
                    </div>
                </div>

                <div class="kitchen-card-desc">
                    <p>{{ kitchen.desc|linebreaksbr }}</p>
                </div>
                <div class="kitchen-card-files">
                    {% for kitFile in kitchen.files.all %}
                    <div class="file">
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.8333 10.5001H13.3333L10 13.8334L6.66667 10.5001H9.16667V7.16675H10.8333V10.5001ZM12.5 3.83341H4.16667V17.1667H15.8333V7.16675H12.5V3.83341ZM2.5 2.99325C2.5 2.53679 2.87291 2.16675 3.33208 2.16675H13.3333L17.4998 6.33341L17.5 17.9938C17.5 18.4575 17.1292 18.8334 16.6722 18.8334H3.32783C2.87063 18.8334 2.5 18.454 2.5 18.0069V2.99325Z" />
                        </svg>
                        <a href="{{ kitFile.files.url }}" download>{{kitFile.name}}</a>
                    </div>
                    {%endfor%}
                </div>
                <!--<div class="kitchen-card-custom-button">
                    <button class="custom-button" data-bs-toggle="modal" data-bs-target="#mainFeedBackModal">
                        Оставить заявку
                    </button>
                </div>-->

            </div>
        </div>
        <div class="col-xl-6 order-xl-last col-12 order-first pe-0 kitchen-annotation-right">
            {% if kitchen.kitchenCardVideoPhotoChoices == 'photo' %}
                <div class="kitchenCard-photo-container" >
                    <img src="{{ kitchen.kitchenCardPhoto.url }}" alt="">
                </div>
            {% elif kitchen.kitchenCardVideoPhotoChoices == 'video' %}
                <div class="kitchenCard-video-container" >
                    <iframe src="https://www.youtube.com/embed/{{ kitchen.kitchenCardVideo }}?autoplay=1&rel=0&mute=1&loop=1&color=white&controls=0&modestbranding=1&playsinline=1&enablejsapi=1&theme=dark" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; rel=0" allowfullscreen></iframe>
                </div>  
            {%endif%}
            </div>
        </div>
    </div>
</section>

<section id="kitchen-card-slider">
    <div class="kitchen-card-slider">
        {% for photo in kitchen.images.all %}
        <div class="kitchen-card-slide">
            <img src="{{ photo.image.url }}" alt="Фотография кухни">
        </div>
        {%endfor%}
    </div>
    <div class="nav-kitchen-card-slider">
        <svg class="custom-prev-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"
                fill="#1E1E1E" />
        </svg>
        <svg class="custom-next-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                fill="#1E1E1E" />
        </svg>
    </div>
</section>

<section id="color-and-fishing">
    <h2>Цвет и отделка</h2>
    <div class="finishing-wrapper">
        {% for finishing in kitchen.finishing.all%}
        <div class="finishing">
            
            <div class="finishing-name">
                
                {{ finishing.name }}
            
            </div>

            <div class="finishing-colors">
                {% for color in finishing.colors.all%}
                
                <div class="finishing-color">
                    <img src="{{ color.image.url }}" alt="Фотография цвета">
                    <div class="finishing-color-name">{{ color.name }}</div>
                    
                </div>
                {%endfor%}
            </div>
            
        </div>

        {%endfor%}
    </div>

</section>

<section id="certified-quality">
    <div class="certified-quality-wrapper">
        <div class="row mx-0 text-center">
            <div class="col px-0">
                <h2 class="mb-5">Сертифицированное качество</h2>
                <div class="row sertificate">
                    {% for cert in certificate %}
                    <div class="col-xl-4 col-12 px-0">
                        <img src="{{ cert.image.url }}" alt="Сертификат качества">
                        <p class="mb-0 certificate-p">{{ cert.name }}</p>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'main/js/kitchen-card.js' %}"></script>
{% endblock %}