{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />




<section id="kitchen-annotation">
    <div class="kitchen-card-header-mobile">
        <div class="kitchen-card-back">
            <a href="/catalog/">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M6.52434 9.16658H16.6673V10.8332H6.52434L10.9943 15.3032L9.81582 16.4817L3.33398 9.99992L9.81582 3.51807L10.9943 4.69657L6.52434 9.16658Z"
                        fill="#787878" />
                </svg>
                <button>
                    Назад
                </button>

            </a>
        </div>
        <div class="kitchen-card-name">
            <h1>{{ kitchen.name }}</h1>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-xl-6 order-xl-first col-12 order-last ps-0 kitchen-annotation-left">
            <div>
                <div class="kitchen-card-header-desc">
                    <div class="kitchen-card-back">
                        <a href="/catalog/">
                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.52434 9.16658H16.6673V10.8332H6.52434L10.9943 15.3032L9.81582 16.4817L3.33398 9.99992L9.81582 3.51807L10.9943 4.69657L6.52434 9.16658Z"
                                    fill="#787878" />
                            </svg>
                            <button>
                                Назад
                            </button>
                        </a>
                    </div>
                    <div class="kitchen-card-name" style="font-size: {{kitchenCardText.fontsizeH}}px;">
                        <h1>{{ kitchen.name }}</h1>
                    </div>
                </div>

                <div class="kitchen-card-desc" style="font-size: {{kitchenCardText.fontsizeText}}px;">
                    <p>{{ kitchen.desc|linebreaksbr }}</p>
                </div>
                <div class="kitchen-advantages">

                    <div class="advantage">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.33309 12.6425L15.9934 4.98218L17.1719 6.16069L8.33309 14.9995L3.02979 9.69624L4.2083 8.51774L8.33309 12.6425Z"
                                fill="#1E1E1E" />
                        </svg>
                        <a style="font-size: {{kitchenCardText.fontsizeAdvanteges}}px;">
                            {% autoescape off %}
                            {{ kitchen.advantages1|linebreaksbr|safe }}
                            {% endautoescape %}
                        </a>
                    </div>
                    <div class="advantage">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.33309 12.6425L15.9934 4.98218L17.1719 6.16069L8.33309 14.9995L3.02979 9.69624L4.2083 8.51774L8.33309 12.6425Z"
                                fill="#1E1E1E" />
                        </svg>
                        <a style="font-size: {{kitchenCardText.fontsizeAdvanteges}}px;">
                            {% autoescape off %}
                            {{ kitchen.advantages2|linebreaksbr|safe }}
                            {% endautoescape %}
                        </a>
                    </div>
                    <div class="advantage">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8.33309 12.6425L15.9934 4.98218L17.1719 6.16069L8.33309 14.9995L3.02979 9.69624L4.2083 8.51774L8.33309 12.6425Z"
                                fill="#1E1E1E" />
                        </svg>
                        <a style="font-size: {{kitchenCardText.fontsizeAdvanteges}}px;">
                            {% autoescape off %}
                            {{ kitchen.advantages3|linebreaksbr|safe }}
                            {% endautoescape %}
                        </a>
                    </div>
                </div>
                <div class="kitchen-card-files">
                    {% for kitFile in kitchen.files.all %}
                    <div class="file">
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.8333 10.5001H13.3333L10 13.8334L6.66667 10.5001H9.16667V7.16675H10.8333V10.5001ZM12.5 3.83341H4.16667V17.1667H15.8333V7.16675H12.5V3.83341ZM2.5 2.99325C2.5 2.53679 2.87291 2.16675 3.33208 2.16675H13.3333L17.4998 6.33341L17.5 17.9938C17.5 18.4575 17.1292 18.8334 16.6722 18.8334H3.32783C2.87063 18.8334 2.5 18.454 2.5 18.0069V2.99325Z" />
                        </svg>
                        <a href="{{ kitFile.files.url }}" download
                            style="font-size: {{kitchenCardText.fontsizeFile}}px;">{{kitFile.name}}</a>
                    </div>
                    {%endfor%}
                </div>

            </div>
        </div>
        <div class="col-xl-6 order-xl-last col-12 order-first pe-0 kitchen-annotation-right">
            {% if kitchen.kitchenCardVideoPhotoChoices == 'photo' %}
            <div class="kitchenCard-photo-container">
                <img src="{{ kitchen.kitchenCardPhoto.url }}" alt="">
            </div>
            {% elif kitchen.kitchenCardVideoPhotoChoices == 'video' %}
            <div class="kitchenCard-video-container">
                <iframe
                    src="https://www.youtube.com/embed/{{ kitchen.kitchenCardVideo }}?autoplay=1&rel=0&mute=1&loop=1&color=white&controls=0&modestbranding=1&playsinline=1&enablejsapi=1&theme=dark"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; rel=0"
                    allowfullscreen></iframe>
            </div>
            {%endif%}
        </div>
    </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<section id="kitchen-card-slider">

    <div class="nav-kitchen-card-slider  text-end">
        <svg class="custom-next-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
                fill="#1E1E1E" />
        </svg>
        <div class="swiper-pagination"></div>
        <svg class="custom-prev-arrow" width="24" height="24" viewBox="0 0 24 24" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M7.82843 10.9999H20V12.9999H7.82843L13.1924 18.3638L11.7782 19.778L4 11.9999L11.7782 4.22168L13.1924 5.63589L7.82843 10.9999Z"
                fill="#1E1E1E" />
        </svg>


    </div>
    <div class="kitchen-card-slider">

    </div>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            {% for photo in kitchen.images.all %}
            <div class="swiper-slide">
                <img src="{{ photo.image.url }}" alt="Фотография кухни">
            </div>
            {%endfor%}

        </div>

    </div>



    

</section>

<section id="color-and-fishing">
    <h2 style="font-size: {{kitchenCardText.fontsizeColorMaterial}}px;">{{kitchenCardText.colorMaterialName}}</h2>
    <div class="finishing-wrapper">
        {% for finishing in kitchen.finishing.all%}
        <div class="finishing">

            <div class="finishing-name" style="font-size: {{kitchenCardText.fontsizeNameMaterial}}px;">

                {{ finishing.name }}

            </div>

            <div class="finishing-colors">
                {% for color in finishing.colors.all%}

                <div class="finishing-color">
                    <img src="{{ color.image.url }}" alt="Фотография цвета">
                    <div class="finishing-color-name" style="font-size: {{kitchenCardText.fontsizeNameColor}}px;">
                        {{ color.name }}</div>

                </div>
                {%endfor%}
            </div>

        </div>

        {%endfor%}
    </div>

</section>
<section id="next-kitchen">
    <div class="row text-center catalog-carousel-button">
        <div class="col px-0">
            <a href="/kitchen/{{ nextKitchen.slug }}"><button class="custom-button-new"
                    style="font-size: {{kitchenCardText.fontsizeNextKitchen}}px;">К следующей модели 
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                      d="M10.7814 7.33327L7.20539 3.75726L8.14819 2.81445L13.3337 7.99993L8.14819 13.1853L7.20539 12.2425L10.7814 8.6666H2.66699V7.33327H10.7814Z"
                      fill="#1E1E1E" />
            </svg>
            
        </div>
    </div>
</section>
<section id="certified-quality">
    <div class="certified-quality-wrapper">
        <div class="row mx-0 text-center">
            <div class="col px-0">
                <h2 class="mb-5" style="font-size: {{kitchenCardText.fontsizeCertificateH}}px;">
                    {{kitchenCardText.certificateName}}</h2>
                <div class="row sertificate">
                    {% for cert in certificate %}
                    <div class="col-xl-4 col-12 px-0">
                        <img src="{{ cert.image.url }}" alt="Сертификат качества">
                        <p class="mb-0 certificate-p" style="font-size: {{kitchenCardText.fontsizeCertificateName}}px;">
                            {{ cert.name }}</p>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</section>





<script src="{% static 'main/js/kitchen-card.js' %}"></script>

{% endblock %}