#catalog-header,
#catalog-filter {
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;

}
/*--------------------------------------------------
catalog-header
--------------------------------------------------*/

#catalog-header {
    margin-top: 170px;
    text-align: center;
    padding: 0 70px;
}

.catalog-name {
    font-family: 'Stolzl Bold' !important;
    font-size: 52px;
    color: #1E1E1E;
    font-weight: 700;
}

.catalog-annotation {
    color: #787878;
    font-family: 'Stolzl Light' !important;
    font-size: 16px;
}

.catalog-annotation span {
    color: #1E1E1E;
}

.catalog-annotation span::after {
    content: "";
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='127' height='11' fill='%231E1E1E'><path fill-rule='evenodd' clip-rule='evenodd' d='M53.9383 1.05347C47.9718 1.41449 42.0754 1.85839 36.3254 2.34369C28.1856 3.03022 20.049 3.74042 11.9614 4.86489C9.41559 5.21999 6.83031 5.44487 4.30044 5.88875C2.71234 6.16691 0.606566 6.56338 0.33021 6.64623C0.185664 6.69358 0.122603 6.76467 0.102227 6.78834C-0.0410457 6.95405 -0.0149038 7.11378 0.0659656 7.23806C0.0984407 7.29133 0.180561 7.42158 0.408523 7.43934C15.654 8.65259 31.2433 6.28527 46.5072 6.0367C72.9776 5.61059 100.25 7.30322 126.511 10.9962C126.74 11.0258 126.963 10.8778 126.995 10.6589C127.033 10.4458 126.867 10.2387 126.638 10.2091C100.333 6.51012 73.0158 4.81156 46.4945 5.2436C32.2691 5.47441 17.763 7.55178 3.51785 6.84158C3.84515 6.7824 4.1661 6.72319 4.45901 6.66993C6.97869 6.22606 9.55314 6.0071 12.0887 5.652C20.1591 4.52752 28.2792 3.81733 36.4081 3.13673C46.4945 2.28449 57.0202 1.55062 67.6288 1.20736C71.4239 1.26062 75.2063 1.31391 78.9887 1.37901C87.1711 1.52105 95.3918 1.93533 103.555 2.49165C106.013 2.66328 108.471 2.84082 110.929 2.99469C111.744 3.04796 113.845 3.20181 114.138 3.18997C114.501 3.17813 114.571 2.89408 114.578 2.84673C114.597 2.74021 114.584 2.59224 114.406 2.46795C114.387 2.4502 114.272 2.39098 114.017 2.35547C99.1742 0.260393 83.3251 -0.0887311 67.6415 0.414324C51.0983 0.195347 34.4915 0.100611 17.9903 0C17.7541 0 17.5611 0.177575 17.5592 0.396552C17.5579 0.615529 17.7483 0.793109 17.9845 0.799028C29.9328 0.870047 41.9416 0.941026 53.9383 1.05347Z' fill='%231E1E1E' /></svg>");
    position: absolute;
    width: 127px;
    height: 11px;
    bottom: -17px;
    right: 0;
}

.catalog-annotation span {
    position: relative;
}


/*--------------------------------------------------
catalog-filter-result
--------------------------------------------------*/
#catalog-filter {
    margin-top: 96px;

}

.filtered-results-wrapper {
    margin-top: 16px;
    padding: 0 50px;
}

#filtered-results img {
    width: 100%;
    height: 343px;
    object-fit: cover;
}

.filtered-results-wrapper .result {
    margin-bottom: 80px;
}

#catalog-filter .result {
    padding: 0 20px;
}

#catalog-filter .kitchen-name {
    font-family: 'Stolzl Book' !important;
    font-size: 18px;
}

#catalog-filter .kitchen-name svg {
    display: none;
}

#catalog-filter .kitchen-name:hover svg {
    display: inline !important;
    transition: .3s;
}

.kitchen-name:hover {
    cursor: pointer;
}

.filter,
.select {
    padding: 0 70px;
}

.filter svg {
    vertical-align: sub;
    cursor: pointer;
}

#catalog-filter .hidden {
    display: none;
}

#catalog-filter .filter-name:hover {
    cursor: pointer;
}

/*--------------------------------------------------
filter desc
--------------------------------------------------*/

.sub-menu {
    position: absolute;
    background: #FFF;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
    max-height: 240px;
    overflow-y: auto;
}

.sub-menu ul {
    padding: 0;
    margin: 0;
}


.sub-menu li {
    list-style-type: none;
    padding: 4px 12px;
}


.sub-menu li:hover {
    background: #F1EFED;
}

.select {
    overflow: hidden;
    margin-top: 16px;
}

.clean,
.selected {
    float: left;
    padding: 4px 8px;
    background: #F1EFED;
    margin-right: 8px;
    font-family: 'Stolzl Light' !important;
    font-size: 14px;
}


.none-result {
    margin-top: 100px;
    text-align: center;
}

.none-result .none-result-title {
    color: #1E1E1E;
    font-family: Stolzl;
    font-size: 18px;
    font-weight: 400;
    margin-top: 16px;
}

.none-result .none-result-text {
    color: #787878;
    font-family: Stolzl;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
}

.filter-name {
    float: left;
    font-family: 'Stolzl Light' !important;
    font-size: 14px;
}

.dropdowns {
    overflow: hidden;
}

.dropdowns #material {
    margin: 0 28px;
}

.search-div {
    width: 254px;
    float: right;
    border-radius: 36px;
    background: #F1EFED;
    padding: 12px 16px !important;
}

.search-div input {
    border: none;
    background: #F1EFED;
    color: #787878;
    width: 80%;
    font-family: 'Stolzl Light' !important;
    font-size: 14px;
}

.search-div input:focus {
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background: #FFF;
}


.search-div:focus-within {
    border: 1px solid #1E1E1E;
    background: #FFF;
}

/*--------------------------------------------------
filter mobile
--------------------------------------------------*/


.filter-mobile{
    display: none;
}

.filter-mobile-name{
    margin-top: 2.5%;
    font-family: 'Stolzl Book' !important;
    font-size: 14px; 
    cursor: pointer;
    
}

#catalog-filter .modal-title{
    font-family: 'Stolzl Bold' !important;
    font-size: 14px;    
    font-weight: 100;
}

#catalog-filter .modal-header{
   border: none;   
}

#catalog-filter .modal-clean{
    font-family: 'Stolzl Light' !important;
    font-size: 14px;  
    background: #FFF;
    
}

#catalog-filter .modal-body{
    margin-top: 31px;
 }


.modal-filter-button-close, #catalog-filter .modal-footer{
    background: #fff;
    border: none;
}

#catalog-filter .modal-content{
    padding: 16px;
    height: 560px;
}

#catalog-filter .modal-body .sub-menu{
    position: relative;
    box-shadow: none;
    margin-bottom: 12px;
}

#catalog-filter .modal-body .filter-name{
    float: initial;
    font-size: 16px;
    line-height: 44px;
}

#catalog-filter .modal-body .filter-name svg{
    float: right;
}

#catalog-filter .filter-save{
    margin-bottom: 24px !important;
}

#catalog-filter .modal-body label{
    font-size: 16px;
    font-family: 'Stolzl Light' !important;
    line-height: 40px;
    position: relative;
    padding-left: 24px;
}
#catalog-filter .modal-body .filter-name svg{
    margin-top: 13px;
}

/* Скрываем оригинальный чекбокс */
input[type="checkbox"], input[type="radio"] {
    display: none;
  }
  
  
  .control__indicator{
    position: absolute;
    top: 27%;
    left: 0;
    height: 16px;
    width: 16px;
    background: #E9E7E5;
  }

  .control--checkbox .control__indicator::after {
    left: 7px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #1E1E1E;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .control--radio .control__indicator::after {
    left: 5.2px;
    top: 5.2px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #000;
  }
  
  .control input:checked ~ .control__indicator::after {
    display: block;
  }

  .control__indicator::after {
    content: '';
    position: absolute;
    display: none;
  }

  #style .control__indicator{
    border-radius: 50%;
  }







/*--------------------------------------------------
scrollbar
--------------------------------------------------*/

/* Webkit (Google Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    background-color: #F1EFED;

}

::-webkit-scrollbar-thumb {
    background-color: #9F9F9F;
    border-radius: 5px;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #9F9F9F #F1EFED;
}

/* Internet Explorer и Edge */

*::-ms-scrollbar {
    width: 8px;
    background-color: #F1EFED;
}

*::-ms-thumb {
    background-color: #9F9F9F;
    border-radius: 5px;
}





@media (max-width: 1200px) {
    #catalog-header {
        margin-top: calc(4% + 40px) !important;
        text-align: start;
        padding: 0 2.5%;
    }

    #catalog-filter {
        margin-top: 6.3%;
    }

    .filter,
    .select,
    .filtered-results-wrapper {
        padding: 0 2.5%;
    }

    .filtered-results-wrapper,
    .select {
        margin-top: 1.8%;
    }

    .filtered-results-wrapper .result {
        margin-bottom: 4% !important;
    }

    .dropdowns {
        display: none;
    }

    .filter-mobile{
        display: block;
    }

    .search-div {
        width: 100%;
    }

    #catalog-filter .result {
        padding: 0 !important;
    }

    .catalog-name {
        font-size: calc(24px + (32 + 32 * 0.7) * ((100vw - 360px) / 1420));
    }

    #catalog-filter .kitchen-name {
        font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 360px) / 1420));
    }

}