#kitchen-annotation,
#kitchen-card-slider,
#color-and-fishing,
.certified-quality-wrapper {
    max-width: 1420px;
    margin-left: auto;
    margin-right: auto;

}


/*--------------------------------------------------
kitchen-annotation
--------------------------------------------------*/
#kitchen-annotation {
    padding: 136px 0px 0px 70px;
}

#kitchen-annotation video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kitchen-annotation-right {
    position: relative;
}

.kitchen-annotation-right:hover {
    cursor: pointer;
}

.kitchen-annotation-right svg {
    position: absolute;
    top: 38.7175% !important;
    left: 48.5185% !important;
    fill: #FFFFFF;
}

.kitchen-annotation-right svg:hover {
    fill: rgba(255, 255, 255, 0.58);
    cursor: pointer;
    transition: .3s;
}

.kitchenCard-video-container::after {
    content: '';
    width: 0;
    height: 0;
    border-left: 70px solid #fff;
    border-top: 70px solid transparent;
    border-right: 70px solid transparent;
    border-bottom: 70px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}



.kitchen-card-back {
    margin: 10px 0;
}

.kitchen-card-back button {
    border: none;
    background: transparent;
    padding: 0 !important;
    color: #787878;
    font-family: 'Stolzl Light' !important;
    font-size: 16px;
    margin-left: 8px;
}

.kitchen-card-name,
.kitchen-card-desc,
.kitchen-card-files {
    margin-top: 24px;
}

.kitchen-card-desc p {
    margin: 0;
    font-family: 'Stolzl Book' !important;
    font-size: 16px;
}

.kitchen-card-files .file {
    margin-top: 12px;
    font-family: 'Stolzl Light' !important;
    font-size: 14px;
    color: #787878;
}

.file:first-child{
    margin-top: 0;
}

.kitchen-card-files .file a {
    color: #787878;
    border-bottom: 1px solid transparent;
}

.kitchen-card-files .file svg {
    fill: #787878;
    margin-right: 8px;
}

.kitchen-card-files .file:hover a {
    border-bottom: 1px solid #787878;
    transition: .3s;
    color: #1E1E1E;
}

.kitchen-card-files .file:hover svg {
    transition: .3s;
    fill: #1E1E1E;
}

.custom-button {
    margin-top: 40px;
}

.kitchen-card-back svg {
    margin-bottom: 2px;
}

.kitchen-card-files .file svg {
    margin-bottom: 2px;
}

.kitchen-card-header-mobile {
    display: none;
}

.kitchen-annotation-right {
    padding-left: 60px !important;
}

.kitchen-annotation-left {
    padding-right: 60px !important;
}


.kitchenCard-video-container{
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    max-height: 580px;
}

.kitchenCard-video-container iframe{
    width: 300%;
    margin-left: -100%;
    height: 100%;
    
}

/*--------------------------------------------------
kitchen-slider
--------------------------------------------------*/
#kitchen-card-slider {
    margin-top: 110px;
    position: relative;
}

.kitchen-card-slider img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.kitchen-card-slide {
    padding-right: 30px;
}

.kitchen-card-slider button {
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.kitchen-card-slider .slick-dots {
    padding-left: 70px;
}

.nav-kitchen-card-slider {
    padding-right: 70px;
    margin-top: -25px;
    z-index: 1;
    position: absolute;
    right: 0;
}

#kitchen-card-slider .slick-dots {
    margin-top: 24px;
    margin-bottom: 0;
}

/*--------------------------------------------------
color-and-fishing
--------------------------------------------------*/
#color-and-fishing {
    margin-top: 110px;
    padding: 0 70px;
}

.finishing-color img {
    width: 120px;
    height: 120px;
}

.finishing-colors {
    display: inline-block;
}

.finishing-color {
    display: inline-grid;
    margin-right: 16px;
    margin-top: 16px;
    color: #1E1E1E;
    font-family: 'Stolzl Book' !important;
    font-size: 14px;
    width: 120px;
}


.finishing-name {
    margin-bottom: 8px;
    color: #1E1E1E;
    font-family: 'Stolzl Book' !important;
    font-size: 16px;
    margin-top: 24px;
}

.finishing:first-child .finishing-name {
    margin-top: 0;
}

.finishing-color-name {
    width: 120px;
    margin-top: 12px;
}

.test{
    padding-right: 16px;
}

/*--------------------------------------------------
certified-quality
--------------------------------------------------*/
#certified-quality {
    margin-top: 110px;
    background: #F8F7F4;
}

.certified-quality-wrapper {
    padding: 80px 70px;
}

.sertificate {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.sertificate img{
    width: 180px;
    height: 180px;
}

.sertificate {
    font-family: 'Stolzl Light' !important;
    font-size: 14px;
}

@media (max-width: 1200px) {

    .kitchen-annotation-right, .slick-dots {
        padding-left: 0 !important;
    }

    .kitchen-annotation-left {
        padding-right: 0 !important;
    }

    #color-and-fishing h2 {
        margin-bottom: 1.8% !important;
    }

    #kitchen-annotation {
        padding-top: 72px;
        padding-left: 0;
    }

    .kitchen-card-header-desc,
    .nav-kitchen-card-slider {
        display: none;
    }

    .kitchen-card-header-mobile,
    .kitchen-card-desc,
    .kitchen-card-files,
    #color-and-fishing {
        padding: 0 2.5%;
    }

    .kitchen-card-header-mobile {
        display: block;
    }

    .kitchen-card-header-mobile {
        margin-bottom: 2.5%;
    }

    .kitchen-card-name,
    #kitchen-card-slider,
    .custom-button {
        margin-top: 0;
    }


    .kitchen-card-files{
        margin-top: 4%;
    }
    .kitchen-card-desc,
    #kitchen-card-slider .slick-dots {
        margin-top: 2.5%;
    }

    .kitchen-card-custom-button {
        text-align: center;
        margin-bottom: 6.25%;
        margin-top: 6.25%;
    }

    #kitchen-card-slider {
        padding-left: 2.5%;
    }

    #kitchen-card-slider {
        padding-left: 2.5%;
    }

    .kitchen-card-files .file a {
        color: #1E1E1E;
    }

    .kitchen-card-files .file svg {
        fill: #1E1E1E;
    }

    #color-and-fishing {
        margin-top: 6.25%;
    }

    .kitchenCard-video-container::after {
        display: none;
    }

    .kitchen-annotation-right svg {
        top: 43% !important;
        left: 46% !important;
    }

    .kitchen-card-slider img {
        width: calc(100vw*0.8);
        height: calc(100vw*0.5);
    }

    .kitchen-card-slide{
        padding-right: calc(100vw*0.025) !important;
    }

    .certified-quality-wrapper{
        padding: 24px 16px; 
    }

    #certified-quality{
        margin-top: 80px;
    }

    .kitchen-card-back{
        margin-bottom: 4%;
    }

    .kitchenCard-video-container iframe{
        height: calc(100vw*0.6);
    }
}