.main-youtube-container {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9;
}

.main-youtube-container iframe {
  width: 100%;
  height: 100%;
}

.shorts-youtube-container {
  overflow: hidden;
  width: 100%;
  pointer-events: none;
  aspect-ratio: 16 / 9;
}

.shorts-youtube-container iframe {
  width: 300%;
  margin-left: -100%;
  height: 100%;
}

#about-us-block,
#catalog-carousel,
#feedback,
footer,
#more {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

#look-at-block,
#about-us-block,
#catalog-carousel,
#feedback,
#more {
  scroll-margin-top: 90px;
}

@media (max-width: 1200px) {

  #about-us-block,
  #catalog-carousel,
  #look-at-block,
  #feedback,
  #more {
    scroll-margin-top: 45px;
  }
}

body {
  overflow-x: hidden !important;
  padding-right: 0px !important;
  overflow-y: visible !important;
}


.row {
  max-width: 1420px;
}

.wrapper {
  margin-top: 100px;
}


/* ----------------------------------
fonts
----------------------------------*/
@font-face {
  font-family: 'Stolzl Bold';
  font-style: normal;
  src: url('font/stolzl_bold.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Regular';
  font-style: normal;
  src: url('font/stolzl_regular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Light';
  font-style: normal;
  src: url('font/stolzl_light.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Stolzl Book';
  font-style: normal;
  src: url('font/stolzl_book.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C-35Light';
  font-style: normal;
  src: url('font/CoreSansC-35Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C-45Regular';
  font-style: normal;
  src: url('font/CoreSansC-45Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Core Sans C-55Medium';
  font-style: normal;
  src: url('font/CoreSansC-55Medium.ttf') format('truetype');
  font-display: swap;
}

.plain-text {
  font-size: 14px;
  font-weight: 400;
}

h1 {
  color: #1E1E1E;
  font-family: 'Core Sans C-55Medium';
  font-size: 52px;
  font-weight: 700;
}

h2 {
  color: #1E1E1E;
  font-family: 'Core Sans C-55Medium';
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 24px;
}

.gray-text-14 {
  font-family: 'Core Sans C-35Light' !important;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
  color: #000;
  font-family: 'Core Sans C-35Light';
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 16px;
  transition: background-color 0.5s, padding 1s;
}

.header.sticky {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #E7E7E7;
  background-color: #FFFF;
}


.header .nav-item svg path,
.header .button-navbar-custom svg path {
  fill: white;
  fill-opacity: 1;
}

.header .nav-item svg:hover path,
.header .button-navbar-custom svg:hover path {
  fill-opacity: 0.6;
  fill: white;
  cursor: pointer;
  transition: .3s;
}

.header.sticky .navbar-nav .nav-item svg path,
.header.sticky .button-navbar-custom svg path,
.header.catalogCard .navbar-nav .nav-item svg path,
.header.catalogCard .button-navbar-custom svg path,
.header .navbar-opened .button-navbar-custom svg path,
.header .navbar-opened #navbarNav .nav-item svg path {
  fill: #8B8B8B;
}

.header.sticky .navbar-nav .nav-item svg path {
  fill: #8B8B8B; 
}

footer .contacts svg path {
  fill: #8B8B8B; 
}



.header.sticky #navbarNav svg:hover path,
.header.sticky .button-navbar-custom svg:hover path,
.header .navbar-opened .button-navbar-custom svg:hover path {
  cursor: pointer;
  fill: #1E1E1E !important;
  transition: .3s;
}

.header.sticky #navbarNav svg:hover path,
.header.catalogCard #navbarNav svg:hover path {
  fill: #8B8B8B !important;
}


.header.sticky {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #E7E7E7;
  background-color: #FFFF;
}

.header nav {
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.header .nav-item a {
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFF;
  opacity: 1;
}

.header.sticky .nav-item a,
.header.catalogCard .nav-item a {
  color: #787878;
}

.header .navbar-toggler:focus {
  box-shadow: none;
}

.header #phone {
  display: none;
  margin-top: 34px;
  margin-bottom: 24px;
}

.header #phone a {
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.header #navbarNav .nav-item button {
  display: none;
  padding: 12px 32px;
}

@media (max-width: 1280px) {
  .header nav {
    width: 95%;
  }

  footer #footer-wrapper {
    width: 95%;
  }
}

@media (max-width: 1199px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header .navbar-brand img {
    width: 40px !important;
  }

  .header.sticky {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header #navbarNav {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .header #navbarNav a {
    font-size: 16px;
    margin-bottom: 24px;
    color: #1E1E1E;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .header #navbarNav #social a {
    padding-right: 14px;
  }

  .header #navbarNav .nav-item button {
    width: 328px;
  }

  .header #phone,
  .header #navbarNav .nav-item button {
    display: block;
  }
}

@media (max-width: 768px) {
  .header #navbarNav .nav-item button {
    width: 100%;
  }
}


/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
.navbar a {
  align-items: center;
  justify-content: space-between;
}

#navbarNav ul:nth-child(1) a {
  margin-left: 32px;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

.header.sticky #navbarNav .nav-item a:hover,
.header.catalogCard #navbarNav .nav-item a:hover,
.header .navbar-opened #navbarNav .nav-item a:hover {
  cursor: pointer;
  color: rgba(120, 120, 120, 0.60) !important;
  border-bottom: 1px solid #787878;
}

.header.catalogCard #navbarNav #social a:hover,
.header .navbar-opened #navbarNav #social a:hover {
  cursor: pointer;
  color: rgba(120, 120, 120, 0.60) !important;
  border-bottom: none !important;
}

.header.sticky #navbarNav #social a:hover{
  cursor: pointer;
  color: rgba(120, 120, 120, 0.60) !important;
  border-bottom: none !important;
}

#navbarNav ul:nth-child(2) a {
  padding-left: 20px;
}

#navbarNav ul:nth-child(1) a:hover,
.header #phone a:hover {
  color: #FFFF !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.60);
  transition: 0.3s;
  opacity: 0.6;
}

#footer .link a:hover {
  cursor: pointer;
  color: rgba(120, 120, 120, 0.60) !important;
  border-bottom: 1px solid #C7C5C4;
  transition: 0.3s;
  opacity: 0.6;
}

.navbar svg path {
  transition: 0.2s;
}



.navbar-brand img {
  width: 100%;
  height: 100%;
}

/*----------------------------------
first-block-main-kitchen-carousel
----------------------------------*/
#first-block-main-kitchen-carousel {
  position: relative;
}


#first-block-main-kitchen-carousel .parent img {
  margin-top: -25px;
  height: 100%;
  width: 36%;
}

.text-width {
  width: 70%;
  margin-bottom: 20px;
}

.parent {
  padding-left: 70px;
}

.watch-video-div {
  margin-top: 4%;
}

.watch-video {
  cursor: pointer;
  transition: .3s;
  position: relative;
  padding: 16px 24px;
}

.slider-catalog-kitchen-href {
  font-family: 'Stolzl Book' !important;
  border-bottom: 1px solid transparent;
  margin-right: 70px;
}

.bottom-block-main-block-mobile-a:hover span,
.slider-catalog-kitchen-href svg {
  color: #787878;
  transition: .3s;
}

.watch-video:hover span {
  cursor: pointer;
}

/*.watch-video:hover span:after {
  content: '';
  position: absolute;
  left: 54px;
  bottom: 0;
  width: 0;
  border-bottom: 1px solid #787878;
  animation: border_anim .15s linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }

  100% {
    width: calc(100% - 54px);
  }
}*/

.bottom-block-main-block-mobile-a:hover span {
  border-bottom: 1px solid #787878;
}

.watch-video svg path,
.bottom-block-main-block-mobile-a svg path {
  transition: .3s;
}

.watch-video:hover svg path,
.bottom-block-main-block-mobile-a:hover svg path,
.slide-line .large-image .active:hover svg path {
  fill: #787878;
  transition: .3s;
}

.slide-line .large-image .active:hover .slider-catalog-kitchen-href {
  color: #787878;
  border-bottom: 1px solid #787878;
  transition: .3s;
}



/* carousel */
.main-kitchen-carousel img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


@media (max-width: 1200px) {
  .main-kitchen-carousel img {
    height: calc(100vw*0.6);
  }
}


.main-kitchen-carousel-slide {
  position: relative;
  padding-right: 16px;
}

.nav-main-kitchen-carousel {
  padding-left: 12px;
}

.nav-main-kitchen-carousel-buttton .custom-prev-arrow,
.nav-main-kitchen-carousel-buttton .custom-next-arrow {
  position: absolute;
  top: 50%;
}

.nav-main-kitchen-carousel-buttton .custom-prev-arrow {
  left: 0;
  margin-left: 50px;
}

.nav-main-kitchen-carousel-buttton .custom-next-arrow {
  right: 0;
  margin-right: 50px;
}


.nav-main-kitchen-carousel-buttton svg {
  fill: #1E1E1E;
}

.main-kitchen-carousel .slick-dots {
  position: absolute;
  bottom: 40px;
  right: 50px;
}


.custom-prev-arrow:hover,
.custom-next-arrow:hover {
  fill: #787878 !important;
  cursor: pointer;
  transition: .3s;
}

.nav-main-kitchen-carousel-buttton .slick-disabled path {
  fill: #ffffff !important;
  fill-opacity: 0.7;
}

.nav-main-kitchen-carousel-buttton .slick-arrow {
  fill: #ffffff;
}

.main-kitchen-carousel-slide img {
  filter: brightness(80%)
}

.custom-prev-arrow {
  margin-right: 40px;
}

.bottom-block-main-block {
  margin-top: 60px;
}

.bottom-block-main-block-mobile-a {
  font-family: 'Stolzl Book' !important;
  font-size: 18px;
  font-weight: 400;
  color: #1E1E1E;
  transition: .3s;
}

.slick-dots {
  padding-left: 0;
  margin-top: 13px;
}

.slick-dots li {
  display: inline-block;
  margin-right: 16px;
  padding-right: 12px;
  padding-bottom: 4px;
  border-bottom: 2px solid #C9C7DB;
  font-family: 'Stolzl Regular' !important;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: transparent;
  position: relative;
}

.slick-dots li:hover {
  cursor: pointer;
}

.main-kitchen-carousel .slick-dots .slick-active {
  color: #FFFFFF;
}

.main-kitchen-carousel-sliderCount {
  position: absolute;
  font-size: 24px;
  right: 68px;
  bottom: 50px;
  color: rgb(255, 255, 255);
}

.main-kitchen-carousel-sliderCount svg {
  margin-left: 6px;
  margin-bottom: 7px;
}

.main-kitchen-carousel-sliderCount .sliderCount {
  margin-left: 8px;
  color: rgba(255, 255, 255, 0.50);
  font-size: 16px;
}

.main-kitchen-carousel-sliderCount .currentSlide {
  font-size: 24px;
}

.main-kitchen-carousel .slick-active .sliderCount {
  display: initial;
}

.main-kitchen-carousel .slick-dots button {
  display: none;
}

.main-kitchen-carousel .slick-dots li {
  border-bottom: 2px solid rgba(255, 255, 255, 0.50);
  display: inline-block;
  margin-right: 16px;
  padding-right: 12px;
  padding-bottom: 12px;
  font-family: 'Stolzl Regular' !important;
  font-size: 24px;
  font-weight: 500;
  line-height: 17px;
  color: transparent;
  position: relative;
}

.slick-dots .slick-active {
  color: #1E1E1E;
}

.slick-dots .slick-active:after {
  content: " ";
  position: absolute;
  width: 0%;
  z-index: 1;
  left: 0;
  color: #1E1E1E;
  bottom: -2px;
  border-bottom: 2px solid #1E1E1E;
  animation: progress-bar 5s ease-out;
  animation-fill-mode: forwards;
}

.main-kitchen-carousel .slick-active:after {
  border-bottom: 2px solid rgba(255, 255, 255, 0.50) !important;
}

@keyframes progress-bar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

h1 br {
  display: none !important;
}

@media (max-width: 1200px) {
  h1 br {
    display: block !important;
  }
}

@media (max-width: 976px) {
  h1 br {
    display: none !important;
  }
}

/*----------------- about us -----------------*/

.about-us-block-image {
  position: relative;
}

#about-us-block .wrapper {
  border-bottom: 1px solid #C9C7DB;
  padding-bottom: 76px;
  margin: 100px 70px 0px 70px;
}

#about-us-block .desk {
  margin-bottom: 16px !important;
  text-align: center;
  font-family: 'Core Sans C-55Medium' !important;
  font-size: 28px;
}


.about-us-block-text {
  text-align: center;
  font-size: 18px;
  font-family: 'Core Sans C-35Light' !important;
  margin-bottom: 40px;
}

.about-us-block-text strong {
  font-family: 'Core Sans C-55Medium' !important;
}



.about-us-block-image:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-top: 50px solid transparent;
  border-right: 50px solid #fff;
  border-bottom: 50px solid #fff;
  position: absolute;
  bottom: 0;
  right: 0;
}

.about-us-text-dop-block {
  margin-top: 24px;
  overflow: hidden;
}

.about-us-text {
  font-family: 'Stolzl Book' !important;
  margin-top: 24px;
}

.value {
  font-family: 'Stolzl Book' !important;
  font-size: 36px;
  font-weight: 400;
}

.value-name {
  font-family: 'Stolzl Book' !important;
  font-size: 14px;
  font-weight: 400;
}


.mobile,
.bottom-block-main-block-mobile {
  display: none;
}

.about-us-block-image img {
  width: 100%;
  height: 100%;
}

.about-us-text-block {
  padding-left: 40px;
  padding-right: 15px;
}



/*----------------------------------
catalog-carousel 
----------------------------------*/
#catalog-carousel {
  margin-top: 100px;
}


#catalog-carousel .slide-line {
  display: flex;
}

#catalog-carousel .slide {
  flex: 1;
  display: inline-block;
  position: relative;
  height: 500px;
  padding-right: 4px;
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

#catalog-carousel .slide:last-child {
  padding: 0;
}


.slider-catalog-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-catalog-container img:hover {
  filter: brightness(80%);
}

.large-image {
  flex: 10 !important;
}

.large-image img:hover {
  filter: none;
}

.slider-catalog-container {
  overflow: hidden;
  padding-left: 70px;
}


#catalog-carousel .content {
  display: none;
}

#catalog-carousel .active {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background: #FFF;
  transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
}

#catalog-carousel .content svg {
  margin-left: 8px;
}

#catalog-carousel .content a {
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}


.slider-catalog-kitchen-short-desc {
  font-size: 16px;
  padding: 10px 0;
  font-family: 'Stolzl Book' !important;
}

.slider-catalog-kitchen-name {
  color: #1E1E1E;
  font-family: 'Core Sans C-55Medium' !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 10px;
}


.slider-catalog-container-mobile {
  display: none;
}

.slider-catalog-container-mobile .slick-slide img {
  display: block;
  width: 100%;
  height: calc(100vw*0.8);
  object-fit: cover;
  padding-right: 4.4%;
}

.slider-catalog-kitchen-short-desc-mobile {
  margin-bottom: 4.4%;
}

#catalog-carousel .slide:hover {
  cursor: pointer;
}

#catalog-carousel .large-image:hover {
  cursor: auto;
}

.slider-catalog-container-mobile .content-mobile:hover {
  cursor: pointer;
}

.custom-button-new {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Core Sans C-35Light' !important;
  
  position: relative;
  padding: 20px 24px;
  border: 1px solid #8B8B8B;
  margin-top: 40px;
  background-color: white;
}

.custom-button-new:hover{
  cursor: pointer;
  transition: .3s;
  border: 1px solid #1E1E1E;
}


.slider-catalog-container h2 {
  margin-bottom: 16px;
}

/*----------------------------------
advantages
----------------------------------*/
#advantages {
  margin-top: 100px;
  background: #F8F7F4;
}

.custom-bg {
  max-width: 1420px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 80px 70px;
}


.advantages-content {
  margin-top: 52px;
}

.advantages-content .block {
  padding-right: 40px;
}

.advantages-content-title {
  color: #1E1E1E;
  font-family: 'Core Sans C-55Medium' !important;
  font-size: 20px;
  white-space: nowrap;
}


.advantages-content-title-text {
  color: #787878;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}

.advantages-footer {
  font-size: 18px;
  font-family: 'Core Sans C-55Medium' !important;
  margin-top: 52px;
}

.advantages-footer .custom-button-new {
  background-color: #F8F7F4 !important;
  margin-top: 24px;
}


/*----------------------------------
404
----------------------------------*/
#section-404 {
  margin-top: 254px;
  padding: 0 70px;
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 195px;
}

.section404-button {
  margin-top: 40px;
}

.section404-text {
  color: #1E1E1E;
  text-align: center;
  font-family: 'Stolzl Book';
  font-size: 18px;
}

/*----------------------------------
feedback
----------------------------------*/

.feedback-text {
  font-family: 'Core Sans C-35Light' !important;
  margin-top: 16px;
  margin-bottom: 60px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

#feedback .wrapper {
  padding: 0 70px;
}


.feedback label {
  padding-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-family: 'Core Sans C-35Light' !important;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  font-family: 'Core Sans C-35Light' !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #787878;
}

.feedback textarea {
  overflow-y: hidden;
}


#label_message {
  margin-top: 24px;
}

.form-control {
  font-family: 'Stolzl Book';
  padding: 12px 16px;
  color: #1E1E1E;
  font-size: 16px;
  border: 1px solid #8B8B8B;
  border-radius: 0;
}

.form-control-area {
  font-family: 'Stolzl Book';
  border-radius: 0;
  padding: 16px;
  color: #1E1E1E;
  font-size: 16px;
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid #8B8B8B;
}

.form-control:hover,
.form-control-area:hover {
  background: #E5E4E3;
}

.form-control:focus,
.form-control-area:focus {
  background-color: #FFFFFF;
  border: 1px solid #1E1E1E;
  box-shadow: none;
  outline: none;
}

.form-control.is-invalid {
  background: #FAE4E4;
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none;
}

.feedback-form .custom-button-new {
  margin-top: 24px;
  width: 100%;
}

.feedback-form-annotation {
  font-family: 'Core Sans C-35Light' !important;
  margin-top: 16px;
  color: #787878;
  font-size: 14px;
  font-weight: 400;
}

.feedback-form-annotation a {
  font-family: 'Core Sans C-35Light' !important;
  color: #0466FF;
}

.feedback-img-mobile {
  display: none;
  width: 100%;
}

.feedback-img-mobile img {
  width: 100%;
  height: 100%;
}

.feedback-img img {
  width: 100%;
  height: 100%;
  margin-top: 80px;
}

.feedback-contact {
  font-family: 'Core Sans C-35Light' !important;
}

.feedback-contact .footer-number,
.feedback-contact .footer-adress {
  margin-top: 12px;
}

.feedback-contact .contacts svg {
  margin-left: 12px;
}

.feedback-contact .contacts svg path {
  fill: #8B8B8B99;
}

.feedback-contact .contacts a:hover svg path {
  fill: #8B8B8B !important;
  transition: 0.2s;
  cursor: pointer;
}

.feedback-contact .contacts a:first-child svg {
  margin-left: 0;
}

.feedback-wrapper {
  padding-right: 40px;
}

/*----------------------------------
footer
----------------------------------*/
footer {
  margin-top: 24px;
  margin-bottom: 24px;
}

footer #footer-wrapper {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

footer .contacts a {
  padding-left: 13px;
}

footer .contacts a:first-child {
  padding-left: 0;
}

footer .under-contacts,
footer .under-contacts a {
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #787878;
}

footer .under-contacts a:hover,
.footer-adress a:hover,
.footer-number a:hover {
  border-bottom: 1px solid #C7C5C4;
  transition: 0.3s;
  opacity: 0.6;
}

footer .plain-text a {
  margin-right: 32px;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #787878;
}

footer .footer-number,
footer .footer-adress {
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: right;
  color: #1E1E1E;
}

footer .footer-number {
  margin-top: 12px;
}

footer .contacts svg:hover path {
  fill: rgba(120, 120, 120, 0.60) !important;;
  transition: 0.2s;
}


/*----------------- adaptive -----------------*/
@media (max-width: 1200px) {

  #fullscreen-image .modal-content{
    width: 90% !important;
    height: 100%;
  }

  #fullscreen-image .slide img{
    width: calc(100vw*0.6);
    height: 100% !important;
  }

  #about-us-block h2 {
    margin-bottom: 3.4% !important;

  }

  #about-us-block .wrapper {
    border: none;
  }

  .about-us-block-text {
    font-size: 16px !important;
    margin-bottom: 6.7% !important;
  }

  .footer-number,
  .footer-adress,
  footer .contacts {
    text-align: left !important;
  }

  footer .contacts {
    margin-top: 6.7% !important;
    padding-bottom: 4px;
  }

  footer .contacts a {
    padding-left: 0;
    padding-right: 4.4%;
  }

  footer .contacts a svg {
    width: 20px !important;
    height: 20px !important;
  }

  footer .link a {
    color: #1E1E1E;
  }

  #look-at-block {
    padding-top: 6.7% !important;
    padding-bottom: 6.7% !important;

  }

  #look-at-block .custom-bg,
  .custom-button-new {
    margin-top: 0 !important;
  }


  .feedback-wrapper,
  #section-404,
  .main-kitchen-carousel .slick-dots {
    padding: 0 4.4% !important;
  }

  #about-us-block .wrapper {
    margin: 0 4.4%;
    padding-bottom: 0;
  }

  #section-404 {
    margin-top: 80px;
    margin-bottom: 100px;
  }


  .about-us-text-dop-block {
    margin-top: 4.4%;
  }

  #feedback .wrapper {
    padding: 0 4.4% !important;
  }

  .feedback-wrapper {
    padding: 0 !important;
  }


  .wrapper,
  .parent,
  #look-at-block,
  .catalog-carousel-button,
  #advantages .custom-button-new {
    margin-top: 6.7% !important;
  }

  #catalog-carousel{
    margin-top: 10% !important;
  }

  .about-us-text {
    margin-top: 4.4%;
  }

  .catalog-carousel h2{
    margin-bottom: 4.4%;
  }


  .mobile {
    margin-bottom: 6.7%;
  }

  .slider-catalog-container,
  .slider-catalog-container-mobile .slide-line-mobile {
    padding-left: 4.4%;
  }

  h1 {
    font-size: 46px;
  }

  h2 {
    margin-bottom: 6.7%;
  }

  .review-content {
    padding-left: 0;
    margin-top: 4.4%;
  }

  .parent {
    padding-left: 4.4%;
    width: 73%;
  }

  h1 {
    font-size: 46px;
  }

  .mobile {
    font-size: 34px;
    display: block;
    margin-bottom: 20px;
  }

  .num,
  .bottom-block-main-block,
  .desk,
  .header-desk,
  .slider-catalog-container,
  .slick-dots a {
    display: none !important;
  }

  .slider-catalog-container-mobile {
    display: block;
  }

  .text-width {
    width: 100%;
    margin-bottom: 6.7%;
  }

  .proggress {
    justify-content: center;
  }

  .mobile,
  .bottom-block-main-block-mobile,
  .mobile-header {
    display: block;
  }

  .about-us-text-block {
    padding: 0px;
  }

  .nav-main-kitchen-carousel {
    justify-content: center;
  }

  .mobile-header {
    margin-top: 4.4%;
  }

  .slick-dots {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0px !important;
  }

  .slick-dots li {
    width: calc(100vw*0.04);
    height: 20px;
  }

  .custom-bg {
    padding: 6.7% 4.4%;
  }

  .advantages-content-title {
    margin-top: 24px;
    margin-bottom: 12px;
  }

  .advantages-content,
  .advantages-content-title-text {
    margin: 0;
  }

  .contacts,
  .footer-number,
  .feedback-img-mobile {
    margin-top: 6.7%;
  }

  #advantages{
    margin-top: 4%;
  }

  .footer-adress,
  .slider-catalog-kitchen-name {
    margin-top: 3.4%;
  }

  .feedback-contact .footer-number,
  .feedback-contact .footer-adress,
  .feedback-contact .contact {
    margin-top: 3.4% !important;
  }

  .feedback-contact {
    margin-bottom: 2.4%
  }

  .feedback-text {
    margin-bottom: 6.7%;
  }

  .link {
    display: grid;
    text-align: start;
  }

  .link span {
    margin-left: 0;
    padding: 10px 0;
  }

  .link a:last-child {
    padding-bottom: 0;
  }

  .slider-catalog-kitchen-name,
  .feedback-text {
    font-size: 16px;
  }

  .slider-catalog-kitchen-short-desc-mobile {
    font-family: 'Core Sans C-35Light' !important;
    font-size: 14px;
  }

  #catalog-carousel .content-mobile a {
    font-family: 'Core Sans C-35Light' !important;
    font-size: 14px;
    font-weight: 400;
  }

  .advantages-content-title {
    font-size: 16px !important;
  }

  .cadvantages-content-title-text {
    font-size: 14px !important;
  }

  .advantages-content .block {
    padding-right: 5% !important;
  }

  h2 {
    font-size: 24px !important;
  }

  .slick-dots li span,
  .gray-text-14 {
    display: none !important;
  }

  .main-kitchen-carousel .slick-dots {
    position: initial;
  }

  .main-kitchen-carousel .slick-dots li {
    border-bottom: 2px solid #C9C7DB;
  }

  .main-kitchen-carousel .slick-active::after {
    border-bottom: 2px solid #1E1E1E !important;
  }

  .advantages-footer {
    margin-top: 6.7%;
    font-size: 18px !important;
  }

  #look-at-block h2 {
    margin-bottom: 6.7% !important;
  }

  #more h2{
    margin-bottom: 4.4%;
  }



  .under-contacts:first-child{
    margin-top: 16px;
  }

}


@media (max-width: 992px) {
  #more .more-slider{
    margin-bottom: 0 !important;
  }
  .advantages-content .block {
    padding-right: 0% !important;
  }

  .feedback-img-mobile {
    display: block;
  }

  .feedback-wrapper {
    width: 100%;
  }

  .feedback-form {
    position: relative;
    width: 100%;
    right: 0;
    box-shadow: none;
  }

  .feedback-form .custom-button-new{
    margin-top: 6.7% !important;
  }

  .feedback label{
    margin-top: 6.7% !important;
    font-size: 14px !important;  
  }

  .feedback-img img{
    margin-top: 6.7% !important;
  }

  .under-contacts{
    margin-top: 12px;
  }

  .value {
    font-size: 24px;
  }

  .review-content {
    margin-top: 16px;
    padding: 0px;
  }


  .mobile-button {
    display: block;
  }

  footer {
    padding: 0;
    margin-bottom: 6.7%;
  }


}


@media (max-width: 984px) {
  #more {
    margin-top: 6.7% !important;
    padding-left: 4.4% !important;
  }

  .more-slide-text {
    padding: 0 !important;
    margin-top: 6.7% !important;
  }

  .more-slide-text h3 {
    font-size: 16px !important;
  }

  

  .more-slide-text p {
    font-size: 14px !important;
    margin-bottom: 9%;
  }

  .more-slide {
    padding-right: 5.7% !important;
  }

  .nav-more-slider-desc {
    display: none !important;
  }

  .nav-more-slider-mobile{
    display: block !important;
    padding-right: 4%;
    margin-bottom: 6.7%;
  }


}

@media (max-width: 950px) {
  .custom-button-new {
    width: 50%;
  }


  h1 {
    font-size: 38px;
  }

}

@media (max-width: 850px) {

  h1 {
    font-size: 33px;
  }

}

@media (max-width: 770px) {

  .slick-dots li {
    width: calc(100vw*0.03);
  }

}

@media (max-width: 750px) {

  h1 {
    font-size: 31px;
  }

  .mobile {
    font-size: 27px;
  }

  .custom-button-new {
    width: 75%;
  }
}

@media (max-width: 552px) {

  
  .main-kitchen-carousel-sliderCount,
  .nav-main-kitchen-carousel-buttton{
    display: none !important;
  }

  .slick-dots li {
    width: calc(100vw*0.02);
  }

}

@media (max-width: 464px) {

  .slick-dots li {
    width: calc(100vw*0.01);
    margin-right: 8px !important;
  }

}



@media (max-width: 460px) {

  h1 {
    font-size: 24px !important;
  }

  .plain-text {
    font-size: 17px;
  }

  .text-width {
    width: 100%;
  }

  .bottom-block-main-block-mobile .row {
    justify-content: center !important;
    text-align: center;
  }

  .proggress {
    justify-content: center;
  }

  .custom-button-new {
    width: 87.2%;
  }

  h2 {
    font-size: 18px !important;
    ;
  }



}

@media (max-width: 400px) {

  h2 {
    font-size: 18px !important;
    ;
  }

}


/*----------------- look at -----------------*/
#look-at-block {
  margin-top: 100px;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #F8F7F4;
}


.hero-marquee-item__info {
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-auto-rows: 100px !important;
  align-items: baseline !important;
}

.row_hero_1 {
  grid-column: 1/4;
  grid-row: 2;
  margin: auto;
}

.row_hero_2_col_1 {
  grid-column: 1;
  grid-row: 3;
  align-self: flex-end;
}

.row_hero_2_col_2 {
  grid-column: 3;
  grid-row: 3;
  align-self: flex-end;
}

.hero-marquee-item__tag {
  align-items: center;
  height: auto !important;
  padding-top: 16px;
  padding: 0 20px;
  border: 1px solid rgba(255, 255, 255, .5) !important;
}

.hero-marquee-item__title {
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}


.hero-marquee-item__tag svg {
  margin-right: 6px;
}

.hero-marquee-item__tag div {
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.lottie {
  position: absolute;
  left: -6.6px;
  transition: filter .25s ease-in;
  height: 50px;
}


.hero-marquee-item__tags {
  cursor: pointer;
  position: relative;
}


#detach-button-host {
  display: none !important;
}

.modal-dialog {
  max-width: 70%;
  margin: 30px auto;
}

#videoModal .modal-content {
  background-color: transparent;
  border: transparent;
}

.modal-body {
  position: relative;
  padding: 0px;
}

#player .ratio {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}


@media (max-width: 1200px) {
  #player .ratio {
    max-width: 100%;
  }

  #videoModal .modal-dialog {
    max-width: 95%;
  }
}

/*-----------------------
Modal Feedback
-----------------------*/
#mainFeedBackModal h3 {
  font-family: 'Core Sans C-35Light' !important;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 24px;
}

#mainFeedBackModal .modal-content {
  padding: 32px;
  border-radius: 0;
  border: none;
  box-shadow: 0px 4px 30px 0px #0000003D;
}

#mainFeedBackModal .custom-button {
  margin-top: 24px;
  width: 100%;
}

#mainFeedBackModal .close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 17.64px;
  right: 17.64px;
  transition: .3s;
}

#mainFeedBackModal .close:hover svg path {
  fill: #1E1E1E;
  transition: .3s;
}




/*--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
CATALOG CSS
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------*/
.youtube-container {
  overflow: hidden;
  width: 100%;
  pointer-events: none;
}

.youtube-container iframe {
  width: 300%;
  height: 343px;
  margin-left: -100%;
}

#catalog-header,
#catalog-filter {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;

}

/*--------------------------------------------------
catalog-header
--------------------------------------------------*/

#catalog-header {
  margin-top: 170px;
  text-align: center;
  padding: 0 70px;
}

.catalog-name {
  font-family: 'Core Sans C-55Medium' !important;
  font-size: 32px;
  color: #1E1E1E;
  font-weight: 700;
}

.catalog-annotation {
  color: #787878;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 16px;
  margin-top: 24px;
}

.catalog-annotation strong {
  color: #1E1E1E;
}

.catalog-annotation strong {
  position: relative;
}

#catalog-filter .modal-dialog {
  max-width: 92.5%;
}


/*--------------------------------------------------
catalog-filter-result
--------------------------------------------------*/
#catalog-filter {
  margin-top: 58px;

}

.filtered-results-wrapper {
  margin-top: 16px;
  padding: 0 50px;
}

.catalog-video-container {
  position: relative;
  height: 343px;
}

.catalog-video-container video {
  width: 100%;
  height: 100%;
}

.catalog-video-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
}

.catalog-video-container .hide-image {
  transition: opacity 1s ease !important;
  opacity: 0;
}


.filtered-results-wrapper .result {
  margin-bottom: 80px;
}

#catalog-filter .result {
  padding: 0 20px;
}

#catalog-filter .kitchen-name a{
  font-family: 'Core Sans C-45Regular' !important;
  font-size: 18px;
  font-weight: 400;
  color: #1E1E1E;
}

#catalog-filter .kitchen-name svg {
  display: none;
}

#catalog-filter .kitchen-name:hover svg {
  display: inline !important;
  transition: .3s;
}

.kitchen-name:hover,
#filtered-results img:hover,
#catalog-filter .kitchen-name svg:hover {
  cursor: pointer;
  transition: .3s;
}

#catalog-filter .filter-name:hover {
  cursor: pointer;

}



#catalog-filter .filter-desc .filter-name:hover {
  transition: .3s;
  color: #787878;
  border-bottom: 1px solid #787878;
}

#catalog-filter .filter-name {
  border-bottom: 1px solid transparent;
}

.filter,
.select {
  padding: 0 70px;
}

.filter svg {
  vertical-align: sub;
  cursor: pointer;
}

#catalog-filter .hidden {
  display: none;
}


/*--------------------------------------------------
filter desc
--------------------------------------------------*/

.sub-menu {
  position: absolute;
  background: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.12);
  max-height: 240px;
  overflow-y: auto;
  z-index: 1;
}

.sub-menu ul {
  padding: 0;
  margin: 0;
}


.sub-menu li {
  color: #000;
  list-style-type: none;
  padding: 4px 12px;
}


.sub-menu li:hover {
  background: #F1EFED;
}

.select {
  overflow: hidden;
  margin-top: 10px;
  max-height: 0;
  transition: max-height 0.3s ease;
}

.clean,
.selected {
  float: left;
  padding: 4px 8px;
  background: #F1EFED;
  margin-right: 8px;
  font-family: 'Stolzl Light' !important;
  font-size: 14px;
  margin-top: 8px;
}

.selected:hover {
  cursor: pointer;
}

.selected svg {
  margin-left: 4px;
}

.none-result {
  margin-top: 100px;
  text-align: center;
}

.none-result .none-result-title {
  color: #1E1E1E;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 18px;
  font-weight: 400;
  margin-top: 16px;
}

.none-result .none-result-text {
  color: #787878;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 16px;
  font-weight: 400;
  margin-top: 8px;
}

.filter-name {
  float: left;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
}

.dropdowns {
  overflow: hidden;
}

.dropdowns #material {
  margin: 0 28px;
}

.search-div {
  width: 254px;
  float: right;
  border-radius: 0;
  background: #F1EFED;
  padding: 12px 16px !important;
  border: 1px solid transparent;
}

.search-div input {
  border: none;
  background: #F1EFED;
  color: #1E1E1E;
  width: 80%;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
}

.search-div input::placeholder {
  color: #787878;
}

.search-div input:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background: #FFF;
}

.search-div input:focus {
  background: #FFF !important;
}

.search-div:hover {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background: #E5E4E3;
}

.search-div:hover input {
  background: #E5E4E3;
}


.search-div:focus-within {
  border: 1px solid #1E1E1E;
  background: #FFF;
}

/*--------------------------------------------------
filter mobile
--------------------------------------------------*/


.filter-mobile {
  display: none;
}

.filter-mobile-name {
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  line-height: 50px;
}


@media (max-width: 1200px) {
  #catalog-filter .filter {
    margin-top: 40px;
  }
}

#catalog-filter .modal-title {
  font-family: 'Stolzl Bold' !important;
  font-size: 14px;
  font-weight: 100;
}

#catalog-filter .modal-header {
  border: none;
}

#catalog-filter .modal-clean {
  font-family: 'Stolzl Light' !important;
  font-size: 14px;
  background: #FFF;
}

#catalog-filter .modal-clean:hover,
.control__indicator {
  cursor: pointer;
  transition: .3s;
}

#catalog-filter .modal-body {
  margin-top: 31px;
}


.modal-filter-button-close,
#catalog-filter .modal-footer {
  background: #fff;
  border: none;
}

#catalog-filter .modal-content {
  padding: 16px;
  height: 560px;
}

#catalog-filter .modal-body .sub-menu {
  position: relative;
  box-shadow: none;
  margin-bottom: 12px;
}

#catalog-filter .modal-body .filter-name {
  float: initial;
  font-size: 16px;
  line-height: 44px;
}

#catalog-filter .modal-body .filter-name svg {
  float: right;
}

#catalog-filter .filter-save {
  margin-bottom: 24px !important;
}

#catalog-filter .modal-body label {
  font-size: 16px;
  font-family: 'Stolzl Light' !important;
  line-height: 40px;
  position: relative;
  padding-left: 24px;
}

#catalog-filter .modal-body .filter-name svg {
  margin-top: 13px;
}

/* Скрываем оригинальный чекбокс */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}


.control__indicator {
  position: absolute;
  top: 27%;
  left: 0;
  height: 16px;
  width: 16px;
  background: #E9E7E5;
}

.control--checkbox .control__indicator::after {
  left: 7px;
  top: 4px;
  width: 3px;
  height: 8px;
  border: solid #1E1E1E;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control--radio .control__indicator::after {
  left: 5.2px;
  top: 5.2px;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #000;
}

.control input:checked~.control__indicator::after {
  display: block;
}

.control__indicator::after {
  content: '';
  position: absolute;
  display: none;
}


/*--------------------------------------------------
scrollbar
--------------------------------------------------*/

/* Webkit (Google Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px;
  background-color: #F1EFED;

}

::-webkit-scrollbar-thumb {
  background-color: #9F9F9F;
  border-radius: 5px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9F9F9F #F1EFED;
}

/* Internet Explorer и Edge */

*::-ms-scrollbar {
  width: 6px;
  background-color: #F1EFED;
}

*::-ms-thumb {
  background-color: #9F9F9F;
  border-radius: 5px;
}



/*--------------------------------------------------
more
--------------------------------------------------*/
#more {
  padding-left: 70px;
  margin-top: 100px;
}

#more .more-slide img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}


#more .more-slide img:hover {
  cursor: pointer;
}

#more .more-slider {
  margin-bottom: 52px;
}

#more .custom-button-new {
  margin-top: 0;
}

.more-slide-text {
  padding-left: 40px;
}

.more-slide-text p {
  font-family: 'Core Sans C-35Light';
  font-size: 16px;
  color: #000;
  max-width: 534px;
}

.more-slide-text h3 {
  font-family: 'Core Sans C-55Medium';
  font-size: 20px;
  color: #000;
  margin-bottom: 12px;
}

.more-header {
  margin-right: 70px;
}

.more-header .custom-prev-arrow,
.more-header .custom-next-arrow,
.more-header .currentSlide,
.more-header .sliderCount {
  float: right;
}

.more-header .currentSlide,
.more-header .sliderCount {
  font-family: 'Core Sans C-35Light';
  font-size: 16px;
}

.more-header .custom-prev-arrow {

  margin-right: 10px;
}

.more-header .custom-next-arrow {
  margin-left: 10px;
}

.more-header .custom-prev-arrow path,
.more-header .custom-next-arrow path,
.nav-more-slider-mobile .custom-prev-arrow path,
.nav-more-slider-mobile .custom-next-arrow path {
  fill: #787878;
}
 
.more-header .custom-prev-arrow:hover path,
.more-header .custom-next-arrow:hover path,
.nav-more-slider-mobile .custom-prev-arrow:hover path,
.nav-more-slider-mobile .custom-next-arrow:hover path{
  fill: #000000;
}

#fullscreen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background: rgba(0, 0, 0, 0.9); 
  cursor: pointer;
  z-index: 1005;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: none;
}


#fullscreen-image .slide img{
  height: 100vh;
  margin-right: auto;
  margin-left: auto;
  max-height: calc(100vh - 50vh);
}


.fullscreen-image-nav .prev,
.fullscreen-image-nav .next{
  position: absolute;
  width: 25px;
  top: 48%;
}

.fullscreen-image-nav .close{
  position: absolute;
  top: 40px;
  right: 0;
}

.fullscreen-image-nav .next{
  right: 0;
}

.fullscreen-image-nav .prev path,
.fullscreen-image-nav .next path,
.fullscreen-image-nav .close path{
  fill: #ffffff;
}

.fullscreen-image-nav .prev:hover path,
.fullscreen-image-nav .next:hover path,
.fullscreen-image-nav .close:hover path{
  fill: #787878 !important;
}


#fullscreen-image .modal-content{
  height: 100%;
}

#fullscreen-image .slick-disabled:hover path{
  fill: #4a4a4a !important;
}

.fullscreen-image-nav .custom-next-arrow.slick-disabled:hover path,
.fullscreen-image-nav .custom-prev-arrow.slick-disabled:hover path{
  fill: #4a4a4a !important;
}

#fullscreen-image .slick-disabled path{
  fill: #4a4a4a;
}


.more-header .slick-disabled:hover path,
.nav-more-slider-mobile .slick-disabled:hover path {
  fill: #C9C7DB;
}

.more-header .slick-disabled path,
.nav-more-slider-mobile .slick-disabled path {
  fill: #C9C7DB;
}

.more-header .sliderCount {
  color: #787878;
}

.nav-more-slider-mobile {
  display: none;
}





@media (max-width: 1200px) {
  #catalog-header {
    margin-top: calc(4% + 40px) !important;
    text-align: start;
    padding: 0 4.4%;
  }

  #catalog-filter {
    margin-top: 8.9%;
  }

  .filter,
  .select,
  .filtered-results-wrapper {
    padding: 0 4.4%;
  }

  .filtered-results-wrapper,
  .select {
    margin-top: 2%;
  }

  .filtered-results-wrapper .result {
    margin-bottom: 6.7% !important;
  }

  .dropdowns {
    display: none;
  }

  .filter-mobile {
    display: block;
  }

  .search-div {
    width: 100%;
  }

  #catalog-filter .result {
    padding: 0 !important;
  }

  .catalog-name {
    font-size: calc(24px + (32 + 32 * 0.7) * ((100vw - 360px) / 1420));
  }

  #catalog-filter .kitchen-name {
    font-size: calc(16px + (2 + 2 * 0.7) * ((100vw - 360px) / 1420));
  }

  .catalog-video-container,
  .youtube-container iframe {
    height: calc(100vw*0.5);
  }

  .fullscreen-image .slide img{
    height: calc(100vw*0.55);
  }
  
  .fullscreen-image .mini img{
    width: 60% !important;
    height: 50% !important;
  }

}




/*--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
HERO CSS
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------*/

.hero {
  position: relative;
  padding-top: 80px;
  background-color: #f8f7f4;
  text-align: center
}

.hero:before {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 180px;
  background-color: #fff
}

.hero__heading {
  max-width: 340px;
  margin: 40px auto 24px;
  font-family: "Source Serif 4", Georgia, serif;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -0.5px;
  line-height: 56px
}

@media (min-width: 500px) {
  .hero__heading {
    max-width: 580px
  }
}

@media (min-width: 768px) {
  .hero__heading {
    max-width: 870px;
    font-size: 72px;
    line-height: 76px
  }
}

.hero-marquee {
  --grid-gap: 24px;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  padding: 72px 0;
  overflow: hidden
}

@media (min-width: 768px) {
  .hero-marquee {
    --grid-gap: 32px
  }
}

.hero-marquee__track {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-animation: marquee-mobile calc(var(--card-speed, 3s) * var(--card-count, 6)) linear infinite;
  animation: marquee-mobile calc(var(--card-speed, 3s) * var(--card-count, 6)) linear infinite
}

@media (min-width: 768px) {
  .hero-marquee__track {
    -webkit-animation-name: marquee-desktop;
    animation-name: marquee-desktop
  }
}

.hero-marquee__grid {
  display: grid;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: var(--grid-gap)
}

.hero-marquee-item {
  --card-media-width: 218px;
  --card-media-height: 272px;
  position: relative;
  width: var(--card-media-width);
  height: var(--card-media-height);
  overflow: hidden;
  -webkit-transform: perspective(300px) translate3d(0, 0, var(--card-z-offset, 16px));
  transform: perspective(300px) translate3d(0, 0, var(--card-z-offset, 16px));
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  -webkit-transition-delay: var(--reveal-delay, 0s);
  transition-delay: var(--reveal-delay, 0s);
  border-radius: 26px;
  opacity: var(--card-opacity, 0.001);
  color: #fff
}

.hero-marquee-item.lazyloaded {
  --card-opacity: 1;
  --card-z-offset: 0
}

@media (min-width: 768px) {
  .hero-marquee-item {
    --card-media-width: 273px;
    --card-media-height: 340px;
    border-radius: 32px
  }
}

.hero-marquee-item__media {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  width: var(--card-media-width);
  height: var(--card-media-height);
  overflow: hidden
}

.hero-marquee-item__media img,
.hero-marquee-item__media video {
  width: var(--card-media-width);
  height: var(--card-media-height);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center center;
  object-position: center center
}

.hero-marquee-item__info {
  display: grid;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  grid-auto-flow: row;
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  padding: 12px 16px;
  -webkit-transform: perspective(300px) translate3d(0, 0, 8px);
  transform: perspective(300px) translate3d(0, 0, 8px);
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  -webkit-transition-delay: calc(var(--reveal-delay, 0) + 0.3s);
  transition-delay: calc(var(--reveal-delay, 0) + 0.3s);
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(51.91%, transparent), color-stop(75.88%, rgba(0, 0, 0, 0.3)));
  background: linear-gradient(180deg, transparent 51.91%, rgba(0, 0, 0, 0.3) 75.88%);
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 8px
}

@media (min-width: 768px) {
  .hero-marquee-item__info {
    padding: 16px 20px
  }
}

.lazyloaded .hero-marquee-item__info {
  -webkit-transform: perspective(300px) translate3d(0, 0, 0);
  transform: perspective(300px) translate3d(0, 0, 0);
  opacity: 1
}

.hero-marquee-item__info>* {
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.hero-marquee-item__tags {
  display: grid;
  grid-auto-columns: -webkit-min-content;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  gap: 8px;
  margin-top: 4px
}

.hero-marquee-item__tag {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 24px;
  padding: 5px 12px 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 9999999px;
  font-size: 11px;
  white-space: nowrap
}

.hero-marquee-item__tag:hover {
  border: 1px solid #FFF !important;
}

.hero-marquee-item__tag svg {
  fill: rgba(255, 255, 255, 0.58);
}

.hero-marquee-item__tag:hover svg {
  fill: #FFF !important;
}

@media (min-width: 768px) {
  .hero-marquee-item__tag {
    padding: 5px 12px 5px
  }
}

@-webkit-keyframes marquee-desktop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(calc(-50% - 16px), 0, 0);
    transform: translate3d(calc(-50% - 16px), 0, 0)
  }
}

@keyframes marquee-desktop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(calc(-50% - 16px), 0, 0);
    transform: translate3d(calc(-50% - 16px), 0, 0)
  }
}

@-webkit-keyframes marquee-mobile {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(calc(-50% - 12px), 0, 0);
    transform: translate3d(calc(-50% - 12px), 0, 0)
  }
}

@keyframes marquee-mobile {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
  }

  100% {
    -webkit-transform: translate3d(calc(-50% - 12px), 0, 0);
    transform: translate3d(calc(-50% - 12px), 0, 0)
  }
}




/*--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
KITCHEN CARD CSS
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------*/
#kitchen-annotation,
#kitchen-card-slider,
#color-and-fishing,
.certified-quality-wrapper {
  max-width: 1420px;
  margin-left: auto;
  margin-right: auto;

}

.certificate-p {
  width: 197px;
  margin-left: auto;
  margin-right: auto;
}




/*--------------------------------------------------
kitchen-annotation
--------------------------------------------------*/
#kitchen-annotation {
  padding: 136px 70px 0px 70px;
}

#kitchen-annotation video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kitchen-annotation-right {
  position: relative;
  padding-top: 60px;
}

.kitchen-annotation-right:hover {
  cursor: pointer;
}

.kitchen-annotation-right svg {
  position: absolute;
  top: 38.7175% !important;
  left: 48.5185% !important;
  fill: #FFFFFF;
}

.kitchen-annotation-right svg:hover {
  fill: rgba(255, 255, 255, 0.58);
  cursor: pointer;
  transition: .3s;
}


.kitchen-card-back {
  margin: 10px 0;
}

.kitchen-card-back button {
  border: none;
  background: transparent;
  padding: 0 !important;
  color: #787878;
  font-family: 'Stolzl Light' !important;
  font-size: 16px;
  margin-left: 8px;
}

.kitchen-card-name,
.kitchen-card-desc,
.kitchen-card-files {
  margin-top: 24px;
}

.kitchen-card-desc p {
  margin: 0;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 16px;
}

.kitchen-card-files .file {
  margin-top: 12px;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  color: #787878;
}

.file:first-child {
  margin-top: 0;
}

.kitchen-card-files .file a {
  color: #787878;
  border-bottom: 1px solid transparent;
}

.kitchen-card-files .file svg {
  fill: #787878;
  margin-right: 8px;
}

.kitchen-card-files .file:hover a {
  border-bottom: 1px solid #787878;
  transition: .3s;
  color: #1E1E1E;
}

.kitchen-card-files .file:hover svg {
  transition: .3s;
  fill: #1E1E1E;
}


.kitchen-card-back svg {
  margin-bottom: 2px;
}

.kitchen-card-files .file svg {
  margin-bottom: 2px;
}

.kitchen-card-header-mobile {
  display: none;
}

.kitchen-annotation-right {
  padding-left: 60px !important;
}

.kitchen-annotation-left {
  padding-right: 60px !important;
}


.kitchenCard-video-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  max-height: 580px;
}

.kitchenCard-photo-container {
  position: relative;
  height: 580px;
}

.kitchenCard-photo-container img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.kitchenCard-video-container iframe {
  width: 300%;
  margin-left: -100%;
  height: 100%;

}

.kitchen-advantages{
  margin-top: 16px;
}

.kitchen-advantages svg{
  margin-right: 8px;
}

.advantage{
  margin-top: 8px;
}

.advantage:first-child{
  margin-top: 0;
}

/*--------------------------------------------------
kitchen-slider
--------------------------------------------------*/
#kitchen-card-slider {
  margin-top: 110px;
  position: relative;
}

.kitchen-card-slider .slick-slide img{
  margin-left: -218px;
}

.kitchen-card-slider img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.kitchen-card-slide {
  padding-right: 30px;
}

.kitchen-card-slider button {
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}


.nav-kitchen-card-slider {
  padding: 0 70px;
  margin-bottom: 24px;
}



.nav-kitchen-card-slider .custom-next-arrow,
.nav-kitchen-card-slider .currentSlide,
.nav-kitchen-card-slider .sliderCount {
  float: right;
}

.nav-kitchen-card-slider .custom-prev-arrow{
  margin-right: 10px;
}

.nav-kitchen-card-slider .custom-next-arrow{
  margin-left: 10px;
}

.nav-kitchen-card-slider .currentSlide,
.nav-kitchen-card-slider .sliderCount{
  font-size: 16px;
}

.nav-kitchen-card-slider .sliderCount,
.nav-kitchen-card-slider-mobile .sliderCount{
  color: #787878; 
}

.nav-kitchen-card-slider-mobile{
  display: none;
}

.nav-kitchen-card-slider-mobile .custom-prev-arrow path,
.nav-kitchen-card-slider-mobile .custom-next-arrow path{
  fill: #000;
}
 

.nav-kitchen-card-slider-mobile .custom-prev-arrow:hover path,
.nav-kitchen-card-slider-mobile .custom-next-arrow:hover path{
  fill: #787878;
}

.nav-kitchen-card-slider-mobile .slick-disabled:hover path {
  fill: #C9C7DB;
}


.nav-kitchen-card-slider-mobile .slick-disabled path {
  fill: #C9C7DB;
}

/*--------------------------------------------------
color-and-fishing
--------------------------------------------------*/
#color-and-fishing {
  margin-top: 110px;
  padding: 0 70px;
}

.finishing-color img {
  width: 120px;
  height: 120px;
}

.finishing-colors {
  display: inline-block;
}

.finishing-color {
  display: inline-grid;
  margin-right: 16px;
  margin-top: 16px;
  color: #1E1E1E;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 14px;
  width: 120px;
}


.finishing-name {
  margin-bottom: 8px;
  color: #1E1E1E;
  font-family: 'Core Sans C-35Light' !important;
  font-size: 16px;
  margin-top: 24px;
  line-height: 20px;
}

.finishing:first-child .finishing-name {
  margin-top: 0;
}

.finishing-color-name {
  width: 120px;
  margin-top: 12px;
  line-height: 24px;
}

.test {
  padding-right: 16px;
}

/*--------------------------------------------------
certified-quality
--------------------------------------------------*/
#certified-quality {
  margin-top: 110px;
  background: #F8F7F4;
}

.certified-quality-wrapper {
  padding: 80px 70px;
}

.sertificate {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.sertificate img {
  width: 180px;
  height: 180px;
}

.sertificate {
  font-family: 'Stolzl Light' !important;
  font-size: 14px;
}

.certified-quality-wrapper h2{
  font-weight: 500;
}


@media (max-width: 1200px) {

  .kitchen-card-slider .slick-slide img{
    margin-left: 0;
  } 
  .dotsFalse .slick-dots {
    display: none !important;
  }

  .nav-kitchen-card-slider-mobile{
    display: block;
    margin-top: 6.7%;
    margin-right: 4.4%;
  }
  .kitchen-annotation-right,
  .slick-dots {
    padding-left: 0 !important;
  }

  .kitchen-annotation-right{
    padding-top: 0;
  }

  .kitchen-annotation-left {
    padding-right: 0 !important;
  }

  #color-and-fishing h2 {
    margin-bottom: 3.4% !important;
  }

  #kitchen-annotation {
    padding-top: 72px;
    padding-left: 0;
    padding-right: 0;
  }

  .kitchen-card-header-desc,
  .nav-kitchen-card-slider {
    display: none;
  }

  .kitchen-card-header-mobile,
  .kitchen-card-desc,
  .kitchen-card-files,
  .kitchen-advantages,
  #color-and-fishing {
    padding: 0 4.4%;

  }

  .kitchen-card-header-mobile {
    display: block;
  }

  .kitchen-card-header-mobile {
    margin-bottom: 4.4%;
  }

  .kitchen-card-name,
  #kitchen-card-slider {
    margin-top: 0;
  }

  .kitchen-card-files {
    margin-top: 24px;
  }

  .kitchen-card-desc,
  #kitchen-card-slider .slick-dots {
    margin-top: 4.4%;
  }

  .kitchen-card-custom-button {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  #kitchen-card-slider {
    padding-left: 4.4%;
  }


  .kitchen-card-files .file a {
    color: #1E1E1E;
  }

  .kitchen-card-files .file svg {
    fill: #1E1E1E;
  }

  #color-and-fishing {
    margin-top: 11%;
  }


  .kitchen-annotation-right svg {
    top: 43% !important;
    left: 46% !important;
  }

  .kitchen-card-slider img {
    height: calc(100vw*0.4);
  }

  .kitchen-card-slide {
    padding-right: calc(100vw*0.025) !important;
  }

  .certified-quality-wrapper {
    padding: 6.7% 4.4%;
  }

  #certified-quality {
    margin-top: 80px;
  }

  .kitchen-card-back {
    margin-bottom: 26px;
  }

  .kitchenCard-video-container iframe {
    height: calc(100vw*0.6);
  }
}

@media (max-width: 630px) {

  #kitchen-card-slider {
    margin-top: 11.1%;
  }

  .kitchen-card-files {
    margin-top: 6.7%;
  }

}


/*--------------------------------------------------
--------------------------------------------------
--------------------------------------------------
SLICK SLIDE CSS
--------------------------------------------------
--------------------------------------------------
--------------------------------------------------*/
.slick-slider {
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;

  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;

  height: auto;

  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}