body{
    max-width: 1402px;
    font-family: Stolzl; 
    margin-left: auto; 
    margin-right: auto;
    overflow-x: hidden;
}


.row{
    max-width: 1402px;
}

/* ----------------- fonts -----------------*/

@font-face {
    font-family: 'Stolzl';
    src: local('font/Stolzl Book'), local('font/Stolzl-Book'),
        url('font/Stolzl-Book.woff2') format('woff2'),
        url('font/Stolzl-Book.woff') format('woff'),
        url('font/Stolzl-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Stolzl Bold';
    src: local('font/Stolzl Regular'), local('font/Stolzl-Bold'),
        url('font/Stolzl-Bold.woff2') format('woff2'),
        url('font/Stolzl-Bold.woff') format('woff'),
        url('font/Stolzl-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.plain-text{
    font-family: Stolzl;
    font-size: 14px; 
    font-weight: 400; 
}



h1{
    color: #1E1E1E; 
    font-family: 'Stolzl Bold';
    font-size: 52px; 
    font-weight: 700; 
}

h2{
    color: #1E1E1E; 
    font-family: 'Stolzl Bold';
    font-size: 36px;  
    font-weight: 700; 
    margin-bottom: 24px;
}

.gray-text{
    color: #787878; 
    font-size: 16px; 
    font-weight: 400; 
}

.gray-text-small{
    color: #787878; 
    font-size: 14px; 
    font-weight: 400; 
}



.num{
    color: #1E1E1E;
    font-size: 14px;
    font-weight: 700;
}

.slider-catalog-kitchen-name{
    color: #1E1E1E;
    font-family: Stolzl Bold;
    font-size: 18px; 
    font-weight: 500;
}


a{
  text-decoration: none;
  color: #FFF;
}

/*----------------- header -----------------*/

header{
    margin-bottom: 16px;
    position: fixed;
    z-index: 1;
    background: #FFF;
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    padding: 0 70px;

}

header a{
  color: #1E1E1E;
}

.contacts a{
    padding-left: 16px;
}

.contacts svg{
    fill: #1E1E1E;
}
.contacts svg:hover{
    fill: #494949;
}

.link a{
    color: #787878; 
    margin-left: 32px;
}

.link a:hover{
    color: #1E1E1E;
    text-decoration-color: #787878;
    text-decoration-line: revert;
    
}

.link a:first-child {
    margin: 0; 
}

.mobile-header, .burger-close{
    display: none;
}

.link-mobile{
    margin-top: 31px;
    height: 44px; 
    color: #1E1E1E;
    font-family: Stolzl;
    font-size: 16px; 
}

.burger-menu{
    z-index: 1;
    position: absolute;
    background: #FFF;
    width: 100%;
    padding-bottom: 31px;
    display: none;
}


.mobile-adress{
    margin-top: 24px;
    margin-bottom: 24px;
}

.mobile-adress .number{
    margin-bottom:12px;
}

.contacts-mobile-block a svg{
    fill: #1E1E1E;
}

.contacts-mobile-block a svg:hover{
    fill: #494949;
}

.contacts-mobile{
    margin-left: 12px;
    margin-right: 12px;
}

.watch-video{
  color: #1E1E1E;
}



/*----------------- first-block-main-kitchen-carousel -----------------*/
#first-block-main-kitchen-carousel{
    padding-top: 120px;
}

.text-width{
    width: 70%;
    margin-bottom: 80px;
}

.parent{
    padding-left: 70px;
}

.parent .line{
    position: relative;
    left: 36%;
}

.custom-button {
    border-radius: 130px;
    background: #1E1E1E; 
    padding: 20px 32px; 
    border: none;
}
.custom-button a{
  color: #F9F9F9 !important;
}

.custom-button a:hover{
    background: #494949; 
}

.watch-video{
    padding-left: 24px;
}

    /* carousel */
.main-kitchen-carousel{
    margin-bottom: 12px;
    width: 104%;
}

.main-kitchen-carousel img{
    width: 100% !important;
    height: 500px;
    object-fit: cover;
    object-position: bottom;
    padding-right: 15px;
}


.main-kitchen-carousel-slide-kithen-name{
    position: absolute;
    bottom: 24px;
    left: 24px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}

.main-kitchen-carousel-slide{
    position: relative;
}

.nav-main-kitchen-carousel{
    padding-left: 12px;
}


.proggress .show_number{
    max-width: 28px;
    padding: 0 !important;
    margin-right: 16px;
}

.show_number{
    position: relative;
}
.num{
    display: none;
}
.num-active{
    display: block;
}

.progress-container {
    width: 100%;
    height: 2px; 
    background-color: #C9C7DB; 
    position: absolute;
    bottom: 10%;
  }
  
  .progress-bar {
    height: 100%;
    background-color: transparent; 
    width: 100%; 
  }
  
  .progress-fill {
    width: 0; 
    height: 100%;
    background-color: #000;
    transition: width 1s linear; 
  }

  .nav-main-kitchen-carousel-buttton{
    padding-right: 70px;
    text-align: end;
  }

  .nav-main-kitchen-carousel-buttton svg{
    fill: #1E1E1E;
  }

  .nav-main-kitchen-carousel-buttton .slick-disabled{
    fill: #DBC7D7;
  }

   .custom-prev-arrow:hover, .custom-next-arrow:hover{
    fill: #787878;
  }

  .custom-prev-arrow{
    margin-right: 40px;
  }

  .bottom-block-main-block-mobile-a{
    color: #1E1E1E;
  }


 /*----------------- about us -----------------*/

 #about-us-block{
    margin: 110px 0;
 }

 .about-us-block-image{
    position: relative;
 }

 .about-us-block-image:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-top: 50px solid transparent;
    border-right: 50px solid #fff;
    border-bottom: 50px solid #fff;
    position: absolute;
    bottom: 0;
    right: 0;
 }

 .about-us-text-dop-block{
    margin-top: 24px;
    overflow: hidden;
 }


 .about-us-text{
    margin-top: 24px;
 }

 .value{
    font-size: 36px; 
    font-weight: 400; 
 }

 .value-name{
    font-size: 14px; 
    font-weight: 400; 
 }


 .mobile, .bottom-block-main-block-mobile{
    display: none;
 }

 .about-us-block-image img {
    width: 100%;
  }

  .about-us-text-block{
    padding-left: 40px;
    padding-right: 15px;
  }

 /*----------------- catalog-carousel -----------------*/

 .small-image {
    width: 147px;
    height: 400px;
    cursor: pointer;
    object-fit: cover;
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  
  .large-image {
    width: 833px;
    height: 400px; 
    object-fit: cover;

  }

  .slider-catalog-container{
    width: 100%;
    overflow: hidden; 
    white-space: nowrap; 
    padding-left: 70px;
  }

  .slide-line{
    margin-top: 24px;
  }

  #catalog-carousel .content{
    display: none;
  }

  #catalog-carousel .active{
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
    background: #FFF; 
    transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
  }

  #catalog-carousel .slide{
    display: inline-block;
    vertical-align: top;
    position: relative;
  }

  #catalog-carousel .content svg{
    margin-left: 8px;
  }

  .slider-catalog-kitchen-short-desc{
    font-size: 16px; 
    margin: 16px 0;
  }

  .catalog-carousel-button{
    margin-top: 60px;
  }


 /*----------------- advantages -----------------*/
  #advantages{
    margin-top: 130px;
    padding: 80px 70px; 
    background: #F8F7F4; 
    margin-bottom: 110px;
  }

  .advantages-content{
    margin-top: 52px;
  }

  .advantages-content .block{
    padding-right: 40px;
  }

  .advantages-content-title{
    color: #1E1E1E;
    font-family: Stolzl;
    font-size: 24px; 
    margin-bottom: 20px;
  }

  .advantages-content-title svg{
    margin-right: 12px;
  }

  .advantages-content-title-text{
    color: #787878;
    font-family: Stolzl;
    font-size: 14px; 
  }

   /*----------------- project-and-reviews -----------------*/
   #project-and-reviews{
    margin-bottom: 500px;
   }
   #project-and-reviews .title{
    padding: 0 70px;
   }

   .nav-project-and-reviews{
    margin-bottom: 24px;
   }

  .nav-project-and-reviews svg{
    fill: #000;
  }

  .nav-project-and-reviews .slick-disabled{
    fill: #DBC7D7;
  }

  .project-and-reviews-slider{
    padding-left: 70px;
  }

  .project-and-reviews-slider-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 537px;
  }

  .project-and-reviews-kitchen-name{
    font-family: Stolzl;
    font-size: 14px;    
    padding: 4px 12px; 
    border-radius: 24px;
    background: #1E1E1E;
    color: #FFF;
  }

  .review-content{
    padding-left: 50px;
  }

  .project-and-reviews-slider-price-square{
    margin-bottom: 40px;
  }

  .project-and-reviews-name{
    font-family: Stolzl Bold;
    font-size: 14px; 
    margin-bottom: 12px;
  }

  .project-and-reviews-slider .slick-slide{
    opacity: 0.5; 
  }
  
  .project-and-reviews-slider .slick-active{
    opacity: 1; 
  }

  .project-and-reviews-slider-name-svg{
    position: relative;
  }

  .project-and-reviews-slider-name-svg svg{
    position: absolute;
    z-index: -1;
    top: -10px;
    left: -15px;
  }

  .project-and-reviews-nav{
    margin: 52px 0px 70px 70px;
  }

  .project-and-reviews-nav .num{
    margin-bottom: 4px;
  }


  .mobile-button{
    display: none;
  }

  /*----------------- footer -----------------*/
    footer{
      padding: 24px 70px;
    }

    .under-contacts, .footer-adress{
      margin-top: 16px;
    }



   /*----------------- adaptive -----------------*/

  @media (max-width: 1295px) {
    .parent .line{
        left: 0;
    }
  }


 @media (max-width: 1080px) {
    .parent .line{
        left: 0;
    }
  }

  @media (max-width: 1000px) {
    .main-kitchen-carousel, #about-us-block, header{
        padding: 0 5%;
    }

    .project-and-reviews-slider, #project-and-reviews .title{
      padding-left: 5%;
    }


    .main-kitchen-carousel img {
        height: calc(100vw * 0.8) !important;
    }

    h1 {
        font-size: 46px;
    }

    .line svg {
        width: 58%;
    }

    .parent .line {
        left: 15% !important;
    }

    .parent{
        padding-left: 5%;
        width: 73%;
    }

    .custom-button {
        width: 63%;
        padding: 17px 32px;
        margin-bottom: 24px;
        margin-top: 24px;
    }

    h1 {
        font-size: 46px;
    }

    .mobile {
        font-size: 34px;
        display: block;
        margin-bottom: 20px;
    }

    .main-kitchen-carousel-slide-kithen-name, .num, .nav-main-kitchen-carousel-buttton, .bottom-block-main-block, .desk, .header-desk{
        display: none !important;
    }

    .text-width {
        width: 100%;
    }

    .proggress {
        justify-content: center;
    }

    .mobile, .bottom-block-main-block-mobile, .mobile-header{
        display: block;
    }

    .about-us-text-block{
        padding: 0px;
      }

    .nav-main-kitchen-carousel{
        justify-content: center;
    }

    .mobile-header{
        margin-top: 16px;
    }
  }

  @media (max-width: 992px) {

    .custom-button{
      margin-left: auto;
      margin-right: auto;
    }
    
    .nav-project-and-reviews{
      display: none;
    }
    .review-content{
      margin-top: 16px;
      padding: 0px;
    }

    .project-and-reviews-slider .slick-slide{
      opacity: 1;
      margin-right: 16px;
    }

    .project-and-reviews-slider-price-square{
      margin-bottom: 24px;
    }

    .project-and-reviews-slider-slide img{
      height: calc(100vw*0.6);
    }

    .mobile-button{
      display: block;
    }

    .project-and-reviews-nav{
      margin: 18px 0px 0px 0px;
      text-align: center;
    }
  }

  @media (max-width: 950px) {
    .custom-button {
        padding: 16px 32px;
        width: 67%;
    }


    h1 {
        font-size: 38px;
    }
    
  }

  @media (max-width: 850px) {

    h1 {
        font-size: 33px;
    }

    .line svg {
        width: 32%;
    }

    .parent .line {
        left: -1% !important;
    }
    
}

@media (max-width: 750px) {

    h1 {
        font-size: 31px;
    }

    .mobile {
        font-size: 27px;
    }
    

    .parent .line {
        left: 0% !important;
    }

    .custom-button {
        padding: 15px 32px;
        width: 80%;
    }  
  }

  @media (max-width: 650px) {

    .parent .line {
        left: 27% !important;
      }
  }
  @media (max-width: 550px) {

    .parent .line {
        left: 0% !important;
    }
    
  }

  @media (max-width: 460px) {

    h1{
        font-size: 24px; 
    }

    .line svg{
        width: 30%;
    }

    .plain-text {
        font-size: 17px;
    }
    .parent .line {
        left: 0% !important;
    }

    .text-width {
        width: 100%;
    }

    .bottom-block-main-block-mobile{
        display: block;
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .bottom-block-main-block-mobile .row{
        justify-content: center !important;
        text-align: center;
    }

    .proggress{
        justify-content: center;
    }

    .custom-button {
        width: 96%;
        padding: 12px 32px;
        margin-bottom: 24px;
    }

    h2{
        font-size: 24px; 
    }

  }